@model ProjectManagement.ViewModels.ProjectUsersVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.project.ProjectName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.project.ProjectName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.project.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.project.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.project.DueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.project.DueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.project.Budget)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.project.Budget)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.project.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.project.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.project.ProjectManagerNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.project.ProjectManagerNavigation.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.project.StatusNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.project.StatusNavigation.StatusName)
        </dd>
        <dt class="col-sm-2">
           Project Members
        </dt>
        @foreach (string username in Model.selectedUsers) {
        <dd class="col-sm-10">
                @username
        </dd>
        }
        
    </dl>
</div>
<div>
    
    @if (Model.project.ProjectManager == User.Identity.Name)
    {
     <a asp-action="Edit" asp-route-id="@Model?.project.ProjectId">Edit</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
