@model IEnumerable<ProjectManagement.Models.Project>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="mt-4">My Projects</h1>
@if (TempData.ContainsKey("ErrorMessage") && !String.IsNullOrEmpty(TempData["ErrorMessage"].ToString()))
{
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>@TempData["ErrorMessage"] </strong>
    </div>
}
@if (TempData.ContainsKey("SuccessMessage") && !String.IsNullOrEmpty(TempData["SuccessMessage"].ToString()))
{
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>@TempData["SuccessMessage"]</strong>
    </div>
}



<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-3">
           <a asp-action="View" asp-route-id="@item.ProjectId">
            <div class="card bg-light" style="max-width: 20rem;">
              
                <a asp-action="Details" asp-route-id="@item.ProjectId" class="card-link" style="text-decoration: none; color: inherit;">
                <div class="card-body">
                      <h4 class="card-title">@item.ProjectName</h4>
                        @*<h6 class="card-subtitle mb-2 text-muted">@item.ProjectManager</h6> *@
                    <span class="badge @GetBadgeClass(item.Status)">@item.Status</span>
                    <p class="card-text">@item.Description</p>
                        <a asp-controller="Tasks" asp-action="Index" asp-route-id="@item.ProjectId" style="color:#3498db">Tasks</a>
                    @if (item.ProjectManager == User.Identity.Name)
                    {
                            <text>|</text> <a asp-action="Edit" asp-route-id="@item.ProjectId" style="color:#3498db">Edit</a>
                            <text>|</text>  <a asp-action="Delete" asp-route-id="@item.ProjectId" style="color:#3498db">Delete</a>
                    }
                </div>
                </a>
            </div>
               </a>
        </div>
    }
</div>
@functions {
    public string GetBadgeClass(string status)
    {
        switch (status.ToLower())
        {
            case "completed":
                return "badge bg-success";
            case "overdue":
                return "badge bg-danger";
            case "in progress":
                return "badge bg-warning";
            default:
                return "badge";
        }
    }
}

@*
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Budget)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectManagerNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @if (item.DueDate == null)
                    {
                        @Html.Raw("-")
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.DueDate)
                    }
                </td>
                <td>
                    @if (item.Budget == null)
                    {
                        @Html.Raw("-")
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Budget)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectManager)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusNavigation.StatusName)
                </td>
                <td>
                    @if (item.ProjectManager == User.Identity.Name)
                    {
                        <a asp-action="Details" asp-route-id="@item.ProjectId"> Details </a>  <text>|</text>
                        <a asp-action="Edit" asp-route-id="@item.ProjectId">Edit</a> <text>|</text>
                        <a asp-action="Delete" asp-route-id="@item.ProjectId"> Delete </a> 
                    }
                    else
                    {
                        <a asp-action="Details" asp-route-id="@item.ProjectId">Details</a>
                    }
                    <text>|</text> <a asp-controller="Tasks" asp-action="Index" asp-route-id="@item.ProjectId">Tasks</a>
                </td>

            </tr>
        }
    </tbody>
</table>*@
