@model IEnumerable<ProjectManagement.Models.Log>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Logs</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Log Type</th>
            <th scope="col">Source</th>
            <th scope="col">Page/Form</th>
            <th scope="col">Timestamp</th>
            <th scope="col">Username</th>
            <th scope="col"></th>
        </tr>
    </thead>
        @*<tr>
            <th>
                @Html.DisplayNameFor(model => model.LogType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OriginalValue)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.Source)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageSource)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogTimestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsernameNavigation)
            </th>
            <th></th>
        </tr>*@
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LogType)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginalValue)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageSource)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogTimestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsernameNavigation.Username)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.LogId">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
