@model ProjectManagement.Models.Document

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Document</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DocumentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DocumentType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UploadedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UploadedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.TaskId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UploadedByNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UploadedByNavigation.Username)
        </dd>
        <dt>File</dt>
        @if (Model.DocumentType == "Photo")
        {
            <dd>
                <img src="@Url.Action("GetImage", "Documents", new { fileName = @Model.FilePath })" />
            </dd>
        }
        else
        {
            //display a tag with link to download the file
            <dd>
                @if (!string.IsNullOrEmpty(Model.FilePath))
                {
                    string fileUrl = Url.Action("GetFile", "Documents", new { fileName = Model.FilePath });
                    <a href="@fileUrl" target="_blank">Download File</a>
                }
            </dd>
        }

    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="DocumentId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
