@model ProjectManagement.ViewModels.TaskDetailsVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["ActiveTab"] = "Details"; // Set the active tab based on the current page
}

@Html.Partial("_taskTabs", Model.task)

@if (TempData.ContainsKey("ErrorMessage") && !String.IsNullOrEmpty(TempData["ErrorMessage"].ToString())){
    <div class="alert alert-dismissible alert-danger mt-3">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>@TempData["ErrorMessage"] </strong>
    </div>
}
@if (TempData.ContainsKey("SuccessMessage") && !String.IsNullOrEmpty(TempData["SuccessMessage"].ToString()))
{
    <div class="alert alert-dismissible alert-success mt-3">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>@TempData["SuccessMessage"]</strong>
    </div>
}
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.task.TaskName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.task.TaskName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.task.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.task.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.task.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.task.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.task.DueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.task.DueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.task.AssignedToNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.task.AssignedToNavigation.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.task.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.task.Project.ProjectName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.task.StatusNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.task.StatusNavigation.StatusName)
        </dd>
    </dl>
</div>
<hr />
