@model ProjectManagement.ViewModels.ProjectTaskVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Task Details</h1>
@if (TempData.ContainsKey("ErrorMessage") && !String.IsNullOrEmpty(TempData["ErrorMessage"].ToString())){
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>@TempData["ErrorMessage"] </strong>
    </div>
}
@if (TempData.ContainsKey("SuccessMessage") && !String.IsNullOrEmpty(TempData["SuccessMessage"].ToString()))
{
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>@TempData["SuccessMessage"]</strong>
    </div>
}
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.task.TaskName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.task.TaskName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.task.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.task.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.task.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.task.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.task.DueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.task.DueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.task.AssignedToNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.task.AssignedToNavigation.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.task.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.task.Project.ProjectId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.task.StatusNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.task.StatusNavigation.StatusName)
        </dd>
        <dd class="col-sm-10">
            <a asp-action="Index" asp-controller="Documents" asp-route-taskid="@Model.task?.TaskId">Task Documents</a>
        </dd>
    </dl>
</div>
<hr />
<h2>Task Comments</h2> 
<table class="table">
    <thead>
        <tr>
            
            <th>
               Content
            </th>
            <th>
               Written By
            </th>
            <th>
               Posted At
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.comments)
        {
            <tr>
                
                <td>
                    @Html.DisplayFor(modelItem => item.CommentText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostedAt)
                </td>
                <td>
                <td>
                    <a asp-action="Edit" asp-controller="Comments" asp-route-id="@item.CommentId">Edit</a>
                </td>
                <td>
                    <a href="#" class="delete-link" data-comment-id="@item.CommentId">Delete</a>
                </td>
            </tr>

        }
    </tbody>
</table>
<br />
<hr />

<div class="row" id="addComment">
    <h4>Add Comment:</h4>
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Comments">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="@Model.comment.TaskId" value="@Model.task.TaskId" class="form-control" hidden />
            </div>
            <div class="form-group">
                <input asp-for="@Model.comment.CommentText" class=" form-control" />
                <span asp-validation-for="@Model.comment.CommentText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.task?.TaskId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@*delete confirmation modal, it will recieve comment author and id from the jQuery,then use it to delete the function from the post delete action of comments controller*@
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmationModalLabel">Delete Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the comment written by <span id="authorName"></span>?</p>
            </div>
            <div class="modal-footer">
                <form id="deleteForm" asp-action="Delete" asp-controller="Comments">
                    <input type="hidden" name="commentId" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <a asp-action="Details" asp-controller="Tasks" asp-route-id="@Model.task.TaskId" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('.delete-link').on('click', function (e) {
                e.preventDefault();

                var commentId = $(this).data('comment-id');
                var authorName = $(this).closest('tr').find('td:eq(1)').text();
                var deleteUrl = '@Url.Action("Delete", "Comments")' + '/' + commentId;

                $('#deleteConfirmationModal #authorName').text(authorName);
                $('#deleteConfirmationModal').modal('show');

                $('#deleteConfirmationModal').on('shown.bs.modal', function () {
                    $('#deleteForm input[name="commentId"]').val(commentId);
                    $('#deleteForm').attr('action', deleteUrl);
                });
            });
        });
    </script>
}

