@model ProjectManagement.ViewModels.ProjectTaskVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Task Details</h1>
@if (TempData.ContainsKey("ErrorMessage") && !String.IsNullOrEmpty(TempData["ErrorMessage"].ToString())){
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>@TempData["ErrorMessage"] </strong>
    </div>
}
@if (TempData.ContainsKey("SuccessMessage") && !String.IsNullOrEmpty(TempData["SuccessMessage"].ToString()))
{
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>@TempData["SuccessMessage"]</strong>
    </div>
}
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.task.TaskName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.task.TaskName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.task.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.task.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.task.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.task.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.task.DueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.task.DueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.task.AssignedToNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.task.AssignedToNavigation.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.task.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.task.Project.ProjectId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.task.StatusNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.task.StatusNavigation.StatusName)
        </dd>
    </dl>
</div>
<hr />
<h2>Task Comments</h2> 
<table class="table">
    <thead>
        <tr>
            <th>
                Comment Id
            </th>
            <th>
               Content
            </th>
            <th>
               Written By
            </th>
            <th>
               Posted At
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.comments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CommentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommentText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostedAt)
                </td>
            </tr>

        }
    </tbody>
</table>
<br />
<hr />

<h4>Add Comment:</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Comments">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="@Model.comment.TaskId" value="@Model.task.TaskId" class="form-control" hidden />
            </div>
            <div class="form-group">
                <input asp-for="@Model.comment.CommentText" class=" form-control" />
                <span asp-validation-for="@Model.comment.CommentText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.task?.TaskId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
