@model IEnumerable<ProjectManagement.Models.Task>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.project.ProjectName 's Tasks</h1>
@*restrict add access to project manager *@
@if (User.Identity.Name == ViewBag.project_manager)
{
    <p>
        <a asp-action="Create" asp-route-id="@ViewBag.projectId">Add New Task</a>
    </p>
}
@if (TempData.ContainsKey("ErrorMessage") && !String.IsNullOrEmpty(TempData["ErrorMessage"].ToString()))
{
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>@TempData["ErrorMessage"] </strong>
    </div>
}
@if (TempData.ContainsKey("SuccessMessage") && !String.IsNullOrEmpty(TempData["SuccessMessage"].ToString()))
{
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>@TempData["SuccessMessage"]</strong>
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedToNavigation)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Project)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.StatusNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedToNavigation.Username)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Project.ProjectId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.StatusNavigation.StatusName)
            </td>
            <td>
                @*members have read/update access to tasks *@
                    <a asp-action="Edit" asp-route-id="@item.TaskId">Edit</a> <text>|</text>
                    <a asp-action="Details" asp-route-id="@item.TaskId">Details</a> <text>|</text>
                    @*//project manager have also delete *@                    
                    @if (User.Identity.Name == ViewBag.project_manager)
                    {
                        <a asp-action="Delete" asp-route-id="@item.TaskId">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
