@model IEnumerable<ProjectManagement.Models.Task>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["ActiveTab"] = "Tasks"; // Set the active tab based on the current page

}

@Html.Partial("_projectTabs", (Project) ViewBag.project)


@if (TempData.ContainsKey("ErrorMessage") && !String.IsNullOrEmpty(TempData["ErrorMessage"].ToString()))
{
    <div class="alert alert-dismissible alert-danger mt-4">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>@TempData["ErrorMessage"] </strong>
    </div>
}
@if (TempData.ContainsKey("SuccessMessage") && !String.IsNullOrEmpty(TempData["SuccessMessage"].ToString()))
{
    <div class="alert alert-dismissible alert-success mt-4">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>@TempData["SuccessMessage"]</strong>
    </div>
}

<div class="row mt-4">
    <div class="col-md-6">
        <div class="card border-0 mb-4">
            <div class="card-body d-flex align-items-center border-bottom">
                <form asp-action="Index" asp-controller="Tasks" asp-route-id="@ViewBag.projectId" method="get" class="d-flex">

                    <div class="input-group me-3">
                        <input type="text" name="searchString" class="form-control" placeholder="Search by task name.." value="@ViewBag.searchString" />
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-funnel"></i> Filter
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="filterDropdown">
                            <li>
                                <ul class="list-unstyled">
                                    <li><a class="dropdown-item" asp-action="Index" asp-controller="Tasks" asp-route-id="@ViewBag.projectId" asp-route-filterBy="me">Assigned to me</a></li>
                                </ul>
                            </li>
                            <li>
                                <h6 class="dropdown-header text-info">Tasks With Status</h6>
                                <ul class="list-unstyled">
                                    <li><a class="dropdown-item" asp-action="Index" asp-controller="Tasks" asp-route-id="@ViewBag.projectId" asp-route-statusFilter="completed">Completed</a></li>
                                    <li><a class="dropdown-item" asp-action="Index" asp-controller="Tasks" asp-route-id="@ViewBag.projectId" asp-route-statusFilter="overdue">Overdue</a></li>
                                    <li><a class="dropdown-item" asp-action="Index" asp-controller="Tasks" asp-route-id="@ViewBag.projectId" asp-route-statusFilter="in progress">In Progress</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="ms-3">
                        <a asp-action="Index" asp-controller="Tasks" asp-route-id="@ViewBag.projectId" class="btn btn-light">Reset</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @*restrict add access to project manager *@
@if (User.Identity.Name == ViewBag.project_manager)
{
    <div class="col-md-6 text-end">
            <a asp-action="Create" asp-route-id="@ViewBag.projectId" class="btn btn-primary">
            <i class="bi bi-plus"></i> Create Task
        </a>
    </div>
}
</div>

<table class="table">
    <thead class="border-bottom-0">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedToNavigation)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Project)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.StatusNavigation)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr onclick="location.href='@Url.Action("Details", new { id = item.TaskId })';" style="cursor:pointer;">
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedToNavigation.Username)
            </td>
           
            <td>
                    <span class="badge @GetBadgeClass(item.Status)">
                        @Html.DisplayFor(modelItem => item.StatusNavigation.StatusName)
                    </span>
                </td>
            
        </tr>
}
    </tbody>
</table>

@functions {
    public string GetBadgeClass(string status)
    {
        switch (status.ToLower())
        {
            case "completed":
                return "badge bg-success";
            case "overdue":
                return "badge bg-danger";
            case "in progress":
                return "badge bg-warning";
            default:
                return "badge";
        }
    }
}